html {
  background: url(wheat.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


*{
  padding:0;
  magin:0;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-menu{
  list-style-type: none;
}

.nav-menu li{
  display:inline-block;
  padding: 20px 10px;
}

.nav-menu a{
  color: black;
  text-decoration: none;
}

.nav-menu a:hover{
  color: green;
}

#main-logo{
  height:65px;
  widght:65px;
}

.menu-line{
  color: black;
  width: 20px;
  height: 5px;
  margin-bottom: 5px;
}


/*form{
  font-size: 20px;
  background: transparent !important;
  padding-top: 20px;
  padding-bottom: 20px;
}*/

body{
  font-family: helvetica;
}

.banner-area{
  width:100%;
  height:100vh;
}

.content-area{
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.content{
  text-align:center;

}

.weatherdata {
  font-size: 20px;
  color: white;
  background: rgba(0,0,0,0.3);
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 20px;
}

.content h1{
  font-size:80px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 3) {

  .weatherdata {
    font-size: 50px;
    color: white;
    background: rgba(0,0,0,0.3);
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left:10px;
    padding-right:10px;
    border-radius: 40px;
  }

  .content h1{
    font-size:150px;
  }
}

